.edit-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-plain);

}

.profile-settings-box,
.password-change-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 25px;
    background-color: var(--main-component-color);
    border-radius: 8px;
}

.edit-container input[type=text],
.edit-container input[type=password],
.edit-container input[type=file] {
    padding: 12px;
    border-width: 0px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    border-radius: 5px;
    outline: 1px solid var(--divider-bar-color);

}

.edit-container input[type=text]:focus,
.edit-container input[type=password]:focus {
    outline: 2px solid var(--main-sub-color);
}

.edit-container button {
    background-color: #338877;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    color: var(--main-component-color);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    overflow: visible;
    margin-top: 10px;
}

.edit-container button:active {
    filter: brightness(90%);
    box-shadow: 0 3px var(--divider-bar-color);
    transform: translateY(4px);
}

.grades-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: var(--main-component-color);
    border-radius: 8px;
}

.grade-table {
    height: 400px !important;
}

.table-header th {
    height: 20px;
}

.add-button {
    background-color: #338a19;
    border: none;
    width: 50%;
    padding: 10px;
    border-radius: 3px;
    color: var(--main-component-color);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    overflow: visible;
    margin-top: 3px;
}

.add-button:hover {
    background-color: #226f0a;
}