@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-bg-color: #F5F6FA;
    --main-component-color: #FFFFFF;
    --main-accent-color: #116666;
    --main-sub-color: #338877;
    --main-glow-color: #55AA88;
    --selected-text-color: #FFFFFF;
    --divider-bar-color: #A8ABC4;
    --sub-text-color: #114455;
    --text-color-plain: #000000;
    transition: 0.3s;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: var(--main-bg-color);
    overflow-y: hidden !important;
}

.flex--row {
    display: flex;
    flex-direction: row;
}

.flex--column {
    display: flex;
    flex-direction: column;
}

.full-centered {
    align-items: center;
    justify-content: center;
}

.gap-5 {
    gap: 5px;
}

.active {
    display: flex !important;
}

.section-header {
    padding: 20px;
}

.section-header .header {
    font-size: 32px;
    font-weight: 600;
    color: var(--main-accent-color);
}

.section-header .subheader {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-sub-color);
}

.content-box {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--main-component-color);
    border-radius: 10px;
}

.content-wrapper {
    gap: 30px;
    padding: 20px;
}

.wrapper--left {
    gap: 30px;
}

.wrapper--right {
    height: 100%;
    width: 100%;
    gap: 30px;
}

#caledar-date-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ADD6BA;
    border-radius: 10px 10px 0px 0px;
}

#caledar-date-headers th {
    width: 203px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: var(--main-component-color);
    border: 1px solid var(--divider-bar-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--main-sub-color);
}