.logsign-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(var(--main-glow-color), var(--main-accent-color));
    overflow: hidden;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: none;
}



.logsign-wrapper>.login--wrapper>h1 {
    color: var(--main-component-color);
}

.login-box,
.signup-box {
    position: relative;
    padding: 10px;
    align-items: center;
    text-align: center;
    background-color: var(--main-component-color);
    border-radius: 5px;
    z-index: 2;
}

.login-box {
    height: 400px;
    width: 300px;
}

.signup-box {
    margin: 20px auto 50px auto;
    height: 560px;
    width: 300px;
}

.login--container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.logsign-wrapper button {
    background-image: linear-gradient(var(--main-glow-color), var(--main-accent-color));
    border: none;
    padding: 15px 40px;
    border-radius: 10%;
    color: var(--main-component-color);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 7px var(--divider-bar-color);
    overflow: visible;
}

.logsign-wrapper button:active {
    filter: brightness(90%);
    box-shadow: 0 3px var(--divider-bar-color);
    transform: translateY(4px);
}

.logsign-wrapper b,
.logsign-wrapper h2 {
    color: var(--sub-text-color);
}

.logsign-wrapper input[type=text],
.logsign-wrapper input[type=password] {
    border-width: 0px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    outline: 1px solid var(--divider-bar-color);
}

.logsign-wrapper input[type=text]:focus,
.logsign-wrapper input[type=password]:focus {
    outline: 2px solid var(--main-sub-color);
}

.studentid-input {
    padding: 12px 40px;
    background-image: url(../assets/img/hashtag.png);
    background-position: 5px 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.logsign-wrapper input[type=password] {
    padding: 12px 40px;
    background-image: url(../assets/img/key_image.png);
    background-position: 3px 12px;
    background-size: 30px 15px;
    background-repeat: no-repeat;
}