.dash-wrapper {
    display: none;
}

.profile--wrapper {
    width: 50vw;
    gap: 30px;
}

.profile--wrapper .profile-data-box {
    width: 100%;
    border-radius: 10px;
    background-color: var(--main-component-color);
    color: var(--main-accent-color);
}

.picture-box {
    width: 250px;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding-right: 5px;
    background: linear-gradient(48.71deg, #55AA88 0%, #114455 105.14%);
    border-radius: 8px 0px 0px 8px;
}

.profile-picture {
    width: 200px;
    height: 246.37px;
}

.profile-data {
    gap: 10px;
}

.box--header {
    font-size: 28px;
    font-weight: 600;
    padding: 20px;
    color: var(--main-sub-color);
}

.profile-data-box span {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-accent-color);
    white-space: nowrap;

}

.profile-data-box .light-header {
    color: var(--divider-bar-color) !important;

}

.profile-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px 50px 20px 20px;
}

.profile-data>div {
    display: flex;
    flex-direction: column;
}

.avg-gpa-box {
    width: 100%;
    align-items: center;
    border-radius: 10px;
    background-color: var(--main-component-color);
    color: var(--main-accent-color);
}



.avg-gpa-box .avg-gpa-box--gpa {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.avg-gpa-box--gpa span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    font-size: 48px;
    font-weight: 600;
    color: var(--main-glow-color);
    border: 8px solid var(--main-glow-color);
    border-radius: 100%;
    padding: 40px;
    margin: 10px;
}

.courses--box {
    width: 50vw;

    border-radius: 10px;
    background-color: var(--main-component-color);
}

.courses {
    padding: 20px;
    height: 100%;
    gap: 20px;


}

.courses .course {
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: var(--main-bg-color);
    font-size: 15px;
    height: 330px;
}

.course .course--header {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-accent-color);
}

.course img {
    width: 150px;
    height: 150px;
}

.course .course-status {
    margin-top: auto;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--main-sub-color);
    color: var(--selected-text-color);
}

.course .course-code {
    color: var(--text-color-plain);
    font-weight: 600;
}

.course .student-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--text-color-plain);
    font-weight: 600;
}

.student-amount img {
    width: 20px;
    height: 20px;
}

.attendance--box {
    height: 100%;

    width: 30vw;
    padding: 5px;

    background-color: var(--main-component-color);
    border-radius: 10px;
}

.attendance--content {
    margin: 15px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
}