body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #DDEDCE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
  
.navbar {
    background-color: white;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
}

.navbar > ul {
    width: 100%;
    height: 100%;
    text-align: center;
}

.navbar > ul > li {
    padding: 8px;
    display: inline-block;
    line-height: 50px;
    font-size: 25px;
}

.navbar a {
    font-weight: 500;
}

.navbar a:link {
    color: #555857;
}

.navbar a:visited {
    color: #555857;
}

.navbar a:hover {
    color: #55AA88;
}

.navbar a:active {
    color: #37755c;
}

.active {
    color: #55AA88;
}

#icon {
    float: left;
    height: 50px;
    width: 50px;
    padding: 12px;
}

#account {
    float: right;
    padding: 12px;
}

.content {
    height: auto;
    width: auto;
    margin-top: 80px;
}

  